/* Project Section
     ========================================================================== */
.project-item {
	flex-basis: 33%;
	padding: 10px;
	text-align: center;
	transition: flex 0.5s;
}
.project-item img {
	padding: 10px;
}
a.button {
	display: inline-block;
	text-decoration: none;
	color: #000;
	margin-top: 20px;
	padding: 10px 20px;
	border: solid 1px orange;
	transition: color 0.2s ease-out, background-color 0.2s ease-out;
}
a.button:hover {
	color: #fff;
	background-color: orange;
}
