/* Media Queries
     ========================================================================== */
@media (min-width: 348px) {
	.contact-detail {
		padding: 1em;
	}
}
@media (min-width: 768px) {
	.hero-container {
		font-size: 2rem;
	}
	.hero-nav li a {
		padding: 20px 40px;
	}
	.row {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.about-me,
	.my-skills {
		max-width: 768px;
		align-self: center;
	}
	.about-me p {
		font-size: 18px;
	}
	.hero-container h2 {
		font-size: 2rem;
	}
	.hero-container h2::after {
		height: 2.3rem;
	}
	.contact-detail {
		padding: 2em;
	}
}
@media (min-width: 1024px) {
	.container {
		padding: 0.25em 1em 10em;
	}
	.section-heading {
		font-size: 2.5rem;
		padding: 2.5em 0.25em 1.5em;
	}
	.section-subheading {
		font-size: 1.25rem;
		padding: 0em 0.25em 2.25em;
	}
}
