/* Typography
     ========================================================================== */
p {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.7;
	margin-bottom: 2rem;
}


h2 {
	font-size: 24px;
}
h3,
h4 {
	padding: 0.35em 0em 0.6em;
}
h4 {
	font-size: 20px;
}
.section-heading,
.section-subheading,
.skill-subheading {
	text-align: center;
}

.section-heading {
	padding: 1.75em 0.25em 2.25em;
}
.section-subheading {
	color: $heading;
	padding: 0em 0.25em 2.75em;
}

.extra {
	font-weight: 300;
	color: lighten( $heading, 10%);
}