

$primary: #f79418;

$text: #3a3a3a;
$heading: #5a5a5a;


@import "normalize";
  
@import "includes/base";
@import "includes/tyopgraphy";
@import "includes/hero";
@import "includes/about-me";
@import "includes/projects";
@import "includes/contact";
@import "includes/footer";
